<wraper-component
  title="Sistemas clientes"
  [color]="color"
  [breadcrumbs]="['Usuarios', 'Clientes']"
  class="flex flex-col flex-1 h-full w-full"
>
  <!-- <app-button variant="primary" [color]="color">
    <i-lucide [img]="Plus"></i-lucide>
    crear cliente
  </app-button> -->
  <div id="chart" class="mt-6"></div>

  <div
    class="flex-1 mt-6 bg-white dark:bg-gray-800 rounded-xl shadow-sm border dark:border-gray-700 overflow-hidden"
  >
    <app-table
      [color]="color"
      [data]="rowData"
      [columns]="columns"
      (onEdit)="handleEdit($event)"
      (onView)="handleView($event)"
    ></app-table>
  </div>
</wraper-component>
